<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from rainbowit.net/html/trydo/17-corporate-business.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Jul 2022 11:57:31 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Corporate Business || Creative Agency Bootstrap4 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.ico"
    />

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/vendor/lightbox.css" />
    <link rel="stylesheet" href="assets/css/plugins/plugins.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
</html>
<body
  class="position-relative spybody"
  data-spy="scroll"
  data-target=".navbar-example2"
  data-offset="150"
>
  <div class="main-page">
    <div id="my_switcher" class="my_switcher">
      <ul>
        <li>
          <a
            href="javascript: void(0);"
            data-theme="light"
            class="setColor light"
          >
            <img src="assets/images/about/sun-01.svg" alt="Sun images" /><span
              title="Light Mode"
            >
              Light</span
            >
          </a>
        </li>
        <li>
          <a
            href="javascript: void(0);"
            data-theme="dark"
            class="setColor dark"
          >
            <img
              src="assets/images/about/vector.svg"
              alt="Vector Images"
            /><span title="Dark Mode"> Dark</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Start Header Area -->
    <header
      class="header-area formobile-menu header--transparent black-logo-version header--sticky"
    >
      <div class="header-wrapper" id="header-wrapper">
        <div class="header-left">
          <div class="logo">
            <a href="index.html">
              <img
                class="logo-1"
                src="assets/images/logo/logo-all-dark.png"
                alt="Logo Images"
              />
              <img
                class="logo-2"
                src="assets/images/logo/logo-light.png"
                alt="Logo Images"
              />
            </a>
          </div>
        </div>
        <div class="header-right">
          <nav class="mainmenunav d-lg-block navbar-example2">
            <!-- Start Mainmanu Nav -->
            <ul class="mainmenu nav nav-pills onepagenav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            <!-- End Mainmanu Nav -->
          </nav>
          <div class="header-btn">
            <a class="rn-btn" href="tel:+919654277866">
              <span
                >Call Now <i style="width: 15px" data-feather="phone"></i
              ></span>
            </a>
          </div>
          <!-- Start Humberger Menu  -->
          <div class="humberger-menu d-block d-lg-none pl--20">
            <span class="menutrigger text-white">
              <i data-feather="menu"></i>
            </span>
          </div>
          <!-- End Humberger Menu  -->
          <!-- Start Close Menu  -->
          <div class="close-menu d-block d-lg-none">
            <span class="closeTrigger">
              <i data-feather="x"></i>
            </span>
          </div>
          <!-- End Close Menu  -->
        </div>
      </div>
    </header>
    <!-- End Header Area -->
  </div>
</body>
