<%- include('header'); -%>

<!-- Start Breadcrump Area  -->
<div
  class="rn-page-title-area pt--120 pb--190 pb_md--100 pb_sm--100 bg_image bg_image--5"
  data-black-overlay="5"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="rn-page-title text-center pt--100">
          <h2 class="title theme-gradient">OUR SERVICES</h2>
          <p>Fresh From The Press Discription</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrump Area  -->
<main class="page-wrapper">
  <!-- Start Service Area 1 -->
  <div class="rn-service-area rn-section-gap bg_color--1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center mb--30 mb_sm--0 mb_md--0">
            <h2>Web Development</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              <br />
              but the majority have suffered alteration.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt--30">
        <!-- Start Single Service  -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div
            class="single-service service__style--2 bg-color-gray text-center"
          >
            <a class="unclick" href="#">
              <div class="service">
                <div class="icon">
                  <i data-feather="airplay"></i>
                </div>
                <div class="content">
                  <h3 class="title">Static Website</h3>
                  <p>
                    I throw myself down among the tall grass by the stream as I
                    lie close to the earth.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- End Single Service  -->

        <!-- Start Single Service  -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div
            class="single-service service__style--2 bg-color-gray text-center"
          >
            <a class="unclick" href="#">
              <div class="service">
                <div class="icon">
                  <i data-feather="monitor"></i>
                </div>
                <div class="content">
                  <h3 class="title">SAAS Websites</h3>
                  <p>
                    I throw myself down among the tall grass by the stream as I
                    lie close to the earth.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- End Single Service  -->

        <!-- Start Single Service  -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div
            class="single-service service__style--2 bg-color-gray text-center"
          >
            <a class="unclick" href="#">
              <div class="service">
                <div class="icon">
                  <i data-feather="shopping-cart"></i>
                </div>
                <div class="content">
                  <h3 class="title">Ecommerce</h3>
                  <p>
                    I throw myself down among the tall grass by the stream as I
                    lie close to the earth.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- End Single Service  -->
      </div>
    </div>
  </div>
  <!-- End Service Area 1 -->
  <!-- Start Service Area 2 -->
  <div class="rn-service-area rn-section-gap bg_color--1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center mb--30 mb_sm--0 mb_md--0">
            <h2>Digial Marketing</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              <br />
              but the majority have suffered alteration.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt--30">
        <!-- Start Single Service  -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div
            class="single-service service__style--2 bg-color-gray text-center"
          >
            <a class="unclick" href="#">
              <div class="service">
                <div class="icon">
                  <i data-feather="package"></i>
                </div>
                <div class="content">
                  <h3 class="title">Branding</h3>
                  <p>
                    I throw myself down among the tall grass by the stream as I
                    lie close to the earth.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- End Single Service  -->

        <!-- Start Single Service  -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div
            class="single-service service__style--2 bg-color-gray text-center"
          >
            <a class="unclick" href="#">
              <div class="service">
                <div class="icon">
                  <i data-feather="credit-card"></i>
                </div>
                <div class="content">
                  <h3 class="title">Paid Advertising</h3>
                  <p>
                    I throw myself down among the tall grass by the stream as I
                    lie close to the earth.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- End Single Service  -->

        <!-- Start Single Service  -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div
            class="single-service service__style--2 bg-color-gray text-center"
          >
            <a class="unclick" href="#">
              <div class="service">
                <div class="icon">
                  <i data-feather="grid"></i>
                </div>
                <div class="content">
                  <h3 class="title">Content Marketing</h3>
                  <p>
                    I throw myself down among the tall grass by the stream as I
                    lie close to the earth.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- End Single Service  -->
      </div>
    </div>
  </div>
  <!-- End Service Area 2 -->
  <!-- Start Service Area 3 -->
  <div class="rn-service-area rn-section-gap bg_color--1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center mb--30 mb_sm--0 mb_md--0">
            <h2>Social Media</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              <br />
              but the majority have suffered alteration.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt--30">
        <!-- Start Single Service  -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div
            class="single-service service__style--2 bg-color-gray text-center"
          >
            <a class="unclick" href="#">
              <div class="service">
                <div class="icon">
                  <i data-feather="pen-tool"></i>
                </div>
                <div class="content">
                  <h3 class="title">Copywriting</h3>
                  <p>
                    I throw myself down among the tall grass by the stream as I
                    lie close to the earth.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- End Single Service  -->

        <!-- Start Single Service  -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div
            class="single-service service__style--2 bg-color-gray text-center"
          >
            <a class="unclick" href="#">
              <div class="service">
                <div class="icon">
                  <i data-feather="camera"></i>
                </div>
                <div class="content">
                  <h3 class="title">Management</h3>
                  <p>
                    I throw myself down among the tall grass by the stream as I
                    lie close to the earth.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- End Single Service  -->

        <!-- Start Single Service  -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div
            class="single-service service__style--2 bg-color-gray text-center"
          >
            <a class="unclick" href="#">
              <div class="service">
                <div class="icon">
                  <i data-feather="grid"></i>
                </div>
                <div class="content">
                  <h3 class="title">Content Creation</h3>
                  <p>
                    I throw myself down among the tall grass by the stream as I
                    lie close to the earth.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- End Single Service  -->
      </div>
    </div>
  </div>
  <!-- End Service Area 3 -->
</main>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  $(".unclick").click(function () {
    return false;
  });
</script>
<%- include('footer'); -%>
